/* INDUSTRIAL DARK THEME: BLACK, GREY, ORANGE */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {

font-family: 'Inter', sans-serif;

background-color: #0f1115;   /* BLACK BACKGROUND */

margin: 0;

padding: 0;

text-align: center;

color: #e5e7eb; /* light text */

}


/* HEADER */

.header {

background-color: #000000;

color: #f97316;

padding: 18px;

font-size: 22px;

font-weight: 600;

border-bottom: 3px solid #f97316;

}


/* LOGIN BOX */

.login-box {

background: #1f2937;

padding: 30px;

width: 320px;

margin: 120px auto;

border-radius: 10px;

box-shadow: 0 8px 25px rgba(0,0,0,0.5);

border-top: 5px solid #f97316;

}


/* INPUT FIELDS */

input, select {

display: block;

margin: 12px auto;

padding: 12px;

width: 240px;

border-radius: 6px;

border: 1px solid #374151;

background-color: #111827;

color: white;

font-size: 14px;

}


/* BUTTONS */

button {

background-color: #f97316;

color: white;

border: none;

padding: 12px 20px;

margin: 10px;

border-radius: 6px;

font-size: 14px;

font-weight: 600;

cursor: pointer;

transition: 0.3s;

}

button:hover {

background-color: #ea580c;

transform: scale(1.05);

}


/* DASHBOARD CARDS */

.card-container {

display: flex;

justify-content: center;

flex-wrap: wrap;

gap: 20px;

margin-top: 20px;

}

.card {

background: #1f2937;

padding: 20px;

width: 220px;

border-radius: 10px;

box-shadow: 0 6px 20px rgba(0,0,0,0.6);

border-left: 5px solid #f97316;

color: white;

}

.card h3 {

color: #9ca3af;

}

.card p {

font-size: 26px;

font-weight: bold;

color: #f97316;

}


/* TABLE */

table {

margin: auto;

border-collapse: collapse;

background: #1f2937;

box-shadow: 0 6px 20px rgba(0,0,0,0.6);

border-radius: 10px;

overflow: hidden;

color: white;

}

th {

background-color: #000000;

color: #f97316;

padding: 12px;

}

td {

padding: 10px;

border-bottom: 1px solid #374151;

}


/* LABELS */

label {

font-weight: 600;

color: #9ca3af;

}


/* PAGE SPACING */

body > * {

margin-top: 20px;

}
